html{
min-height:100%;
position: relative;
background-size: 100% 100%;
}

body{
	height: 100%;
	background: #e0ffc7 url(http://33.media.tumblr.com/9f8ab87a98aefa140314dce85c65f58a/tumblr_n5z3mrIG5l1tza7epo1_500.gif) no-repeat;
	background-size: 100% 180%;
}
#background2{  /*Use for bottom background (add div)*/
	background: #e0ffc7 url(http://31.media.tumblr.com/b5b3c33ac75d8c49af591591d60fcc6c/tumblr_mqi84pddIY1scu1fno1_400.gif) no-repeat;
	background-size: 100% 100%;
	/margin-top: 3%;
	margin-left: -1%;
	height: 100%;
	width: 101%;
	position: absolute;
	z-index: -2;
}

a{
	text-decoration: none;
	color: black;
}

.frontText{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  /font-size: 200%;
  color:#2b8ae1;
}

#navbar{
	margin-top: -7px;
	font-family: Arial, Helvetica, sans-serif;
}

.navbarWords{
	width: 24.5%;
	position: absolute;
	
	z-index: 1;
	display: inline-block;
	text-align: center;
}

#nav1{margin-left: 0%;}
#nav2{margin-left: 25%;}
#nav3{margin-left: 50%;}
#nav4{margin-left: 75%;}

.divider{
	height: 65px;
	border: 1px solid black;
	
	display: inline-block;
	position: absolute;
	z-index: 2;
}
#divider1{margin-left: 25%;}
#divider2{margin-left: 50%;}
#divider3{margin-left: 75%;}

#n1, #n2, #n3, #n4{
  display: none;
  color: white;
}
.question{
 text-align:center;
}

.backBlock{
	background: rgba(255, 255, 255, 0.1);
}

.pageHeader{
	color: white;
	text-align: center;
}

#whoPage{
  position: absolute;
  width: 99%;
  font-family: Arial, Helvetica, sans-serif;
}
#whoName{  /*Who page header (Mylon Walker IV)*/
  color: white;
  text-align: center;
}
.whoText{
		position: relative;
        top: 100%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
		display: inline-block;
}

#info{
	position: absolute;
	margin-top: 10%;
	width: 100%;
}
.infoText{
	display: inline;
	position: absolute;
}

.button{
	width: 150px;
	height: 40px;
	border: 3px solid white;
	border-radius: 20px;
	background-color: #35a79c;
	
	position: absolute;
	margin-top: 3%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.button2{
	width: 150px;
	height: 30px;
	border: 2.5px solid black;
	border-radius: 20px;
	background-color: #35a79c;
	
	position: absolute;
	margin-top: 1%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#resText{
	text-align:center;
	margin-top: 0px;
	color: white;
	font-size: 35px;
}

img{
	display: block;
	margin: auto;
}

.projectPics {
	text-align: center;
	margin-top: 5%;
}
#planPic{

}
#expressPic{
	margin-left: 0%;
	/position: absolute;
	text-align:center;
}
#chicagoPic {
	margin-left: 5%;
	position: absolute;
	text-align:center;
}
#kidPic{
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
	margin-top: 7%;
	margin-right: 20%;
}
#kidDiv{
	text-align:center;
	display: inline-block;
	margin-left: 60%;
}
#GradPic{
	text-align:center;
	margin-top: 5%;
}

#accolades{
	margin-top: 18.5%
}
.acc{
	display: inline-block;
	text-align: center;
	position: absolute;
			
	width: 25%;
	min-width: 200px;
	height: 34%;
	border: 2px solid black;
	/border-radius: 27%;
	background: rgba(229, 193, 0, 0.7);
}
.acc:hover{
	background: rgba(229, 193, 0, 0.9);
}
#acc1{margin-left: 4%;} #acc2{margin-left: 37.62%;} #acc3{margin-left: 71%;} 
#acc4{margin-left: 4%; margin-top: 20%;} #acc5{margin-left: 37.62%; margin-top: 20%;}
.dates{
	display: inline-block;
	margin-bottom: 0px;
	border: 2px solid;
}

#whatPage{ /*add activities*/
  position: absolute;
  width: 99%;
  font-family: Arial, Helvetica, sans-serif;
}
.whatText{
        /*top: 100%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
		display: inline-block;*/
}
#gitText{
	text-align:center;
	margin-top: 5px;
	/color: white;
}

#whenPage{
  position: absolute;
  width: 99%;
  font-family: Arial, Helvetica, sans-serif;
}

#wherePage{
  position: absolute;
  width: 99%;
  font-family: Arial, Helvetica, sans-serif;
}

#acc6{
	display: inline-block;
	text-align: center;
	position: absolute;
	margin-top: 10em;
	margin-left: 3%;
			
	width: 175px;
	min-width: 75px;
	height: 100px;
	border: 2px solid black;
	/border-radius: 27%;
	background: rgba(179, 179, 179, 0.7);
}
#acc6:hover{
	background: rgba(179, 179, 179, 0.9);
}
.orange{
	color:orange;
}
.blue{
	color:#2b8ae1;
}